/********** General **********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto';
}

/********** Colors **********/
/********** Partie Mixins **********/
/********** Partie Header **********/
.heading__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__card .heading__logo {
  font-family: "Shrikhand", sans-serif;
  height: 1.6rem;
  margin: 1.2rem 0 0.7rem 0;
}

.heading__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  height: 2.5rem;
  border-top: solid 3px lightgray;
}

.heading__location p {
  font-size: 0.8rem;
  font-weight: bold;
}

.heading__location .heading__img {
  width: 1.8rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.heading__research {
  text-align: center;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading__research .heading__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 2.7rem 0 2.7rem;
  padding: 1rem 0 0.5rem 0;
}

.heading__research .heading__description {
  font-size: 0.9rem;
  font-weight: 350;
  margin: 0 1.4rem 0 1.4rem;
}

.heading__research .btn {
  border: none;
  background-color: #9356DC;
  border-radius: 999px;
  padding: .7rem 1.1rem .7rem 1.1rem;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

/********** Partie Fonctionnement **********/
.functionning {
  padding: 2rem 0 0 0;
  margin: 0 0 0 1rem;
}

.functionning__title {
  font-size: 1.2rem;
}

.functionning__booking {
  position: relative;
  height: 4rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  margin: 1.4rem 0.9rem 0 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionning__booking--purple {
  background-color: #f5edff;
}

.functionning .number {
  position: absolute;
  font-size: 0.7rem;
  left: -3%;
  text-align: center;
  width: 5px;
  height: 0.2rem;
  padding: 0.6rem;
  color: #fff;
  background-color: #9356DC;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionning .img {
  position: absolute;
  left: 8%;
  text-align: center;
  width: 2rem;
  color: gray;
}

.functionning .img--purple {
  color: #9356DC;
  font-size: 0.8rem;
}

.functionning .info {
  position: absolute;
  left: 24%;
  font-size: 0.8rem;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */