/********** General **********/
* {
	@include reset;
}

body {
    @include default-measures;
    @include police-primary;
    a {
        color: black;
    }
}

/********** Header **********/
.header {
    &__card {
        @include flex-center;
        position: relative;
        a {
            position: absolute;
            left: 1rem;
            bottom: 0.9rem;
            font-size: 1.1rem;
        }
        &__logo {
            font-family: "Shrikhand", sans-serif;
            height: 1.5rem;
            margin: 1.2rem 0 0.7rem 0;
        }
    }
    &__location {
        @include flex-center;
        background-color: $gray;
        height: 2.6rem;
        border-top: solid 3px lightgray;
        p {
            font-size: 0.8rem;
            font-weight: 500;
        }
        & i {
            width: 1.5rem;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
    &__research {
        text-align: center;
        background-color: $lightergray;
        padding-bottom: 3.4rem;
        &__heading {
            font-size: 1.2rem;
            font-weight: 800;
            padding: 1.8rem 3rem 0.5rem 3rem;
        }
        &__description {
            font-size: 0.9rem;
            font-weight: 350;
            margin-bottom: 2rem
        }
        &__link {
            @include btn-home;
            cursor: pointer;
            color: $white;
            font-size: 0.8rem;
        }
    }
}

/********** Partie Fonctionnement **********/
.functionning {
	padding: 2rem 0 0 0;
	&__heading {
        padding-left: 5%;
		font-size: 1.2rem;
	}
    &__content {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        &__booking {
            width: 85%;
            position: relative;
            height: 4rem;
            background-color: $lightergray;
            border-radius: 1rem;
            margin: 1.4rem 0 0 0;
            cursor: pointer;
            @include box-shadow;
            @include flex-center;
            &:hover {
                background-color: $lightpurple;
            }
            &__number {
                @include numbers;
                @include flex-center;
            }
        
            &__img {
                @include img;
                color: gray;
            }
        
            &__info {
                @include info;
            }
        }
    }
}


/********** Partie Main **********/
.main {
    width: 100%;
    padding-top: 2.8rem;
    padding-bottom: 2.2rem;
    margin-top: 3rem;
    background: $lightergray;
    &__heading {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
        padding-left: 5%;
        
    }
    &__content {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        &__restaurants {
            width: 90%;
            margin-bottom: 1rem;
            background-color: $white;
            border-radius: 1rem;
            box-shadow: lightgrey 0.2rem 0.2rem 0.3rem;
            &__img {
                @include restaurant-card;
                &--1 {
                    position: relative;
                    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                    p {
                        @include restaurant-description
                    }
                }
                &--2 {
                    position: relative;
                    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
                    p {
                        @include restaurant-description
                    }
                }
                &--3 {
                    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                }
                &--4 {
                    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                }
            }
            &__info {
                @include flex-between;
                padding: 0.5rem 1.4rem 1rem  0.6rem;
                height: 4rem;
                h3 {
                    font-size: 1rem;
                    padding-top: 0.5rem;
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 300;
                    padding-top: 0.2rem;
                }
            }
            .fa-heart {
                font-size: 1.2rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


/********** Footer **********/
.footer {
    width: 100%;
    background: #353535;
    color: $white;
    padding-bottom: 2rem;
    &__content {
        padding-left: 6%;
        &__heading {
            padding-top: 1rem;
            padding-bottom: 0.7rem;
            font-size: 1rem;
            font-weight: 400;
            font-family: 'Shrikhand';
        }
        &__service {
            display: flex;
            align-items: center;
            padding-bottom: 0.4rem;
            &__img {
                font-size:  0.7rem;
                margin-right: 0.6rem;
                .fa-utensils {
                    margin-right: 0.1rem;
                }
                .hands_helping {
                    transform: rotate(-15deg);
                    font-size: 0.58rem;
                }


            }
            .mentions {
                font-weight: 300;
            }
            .contact {
                color: $white;
                font-size: 0.8rem;
                font-weight: 300;
                cursor: pointer;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        @include reset;
        @include flex-center;
        flex-direction: column;
    }
    .heading {
        width: 90%;
        &__card {
            .fa-arrow-left {
                font-size: 1.4rem;
            }
            &__logo {
                height: 2rem;
            }
        }
        &__location {
            i {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .functionning {
        width: 100%;
        margin-top: 1rem;
        &__heading {
            text-align: center;
            font-size: 1.4rem;
        }
    }

    .main {
        width: 90%;
        border-radius: 2rem;
        margin-bottom: 3rem;
        &__heading {
            text-align: center;
            font-size: 1.5rem;
            padding-bottom: 2rem;
        }
        &__content {
            &__restaurants {
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        width: 100%;
        &__content {
            @include reset;
            margin: 0 0 0 3rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .heading {
        width: 100%;
        &__card {
            height: auto;
            &__logo {
                height: 2.2rem;
            }
        }
        &__location {
            height: 3rem;
            i {
                font-size: 1rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }

    .functionning__heading {
        font-size: 1.5rem;
        padding: 0 0 1rem 0;
    }
    .functionning__content {
        @include flex-around;
        flex-direction: row;
        &__booking {
            width: 30%;
        }
    }
    
    .main {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
        &__heading {
            text-align: center;
            font-size: 1.8rem;
            margin: 0;
            padding: 0 0 2rem 0;
        }
        &__content {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            width: 95%;
            margin: 0;
            &__restaurants {
                width: 48%;
                height: 12.5rem;
            }
        }
    }
}
