/********** Partie Mixins **********/
@mixin reset {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
}

@mixin default-measures {
    height: 100%;
    width: 100%;
}

@mixin police-primary {
    font-family: 'roboto', sans-serif;
}

@mixin police-secondary {
    font-family: 'Shrikhand', sans-serif;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin btn-home {
	border: none;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    border-radius: 10rem;
    padding: .8rem 1rem .8rem 1rem;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

@mixin btn-menu {
    border: none;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    border-radius: 10rem;
    color: #fff;
    box-shadow: lightgrey 0.2rem 0.2rem 0.3rem;
}

@mixin box-shadow {
    box-shadow: $gray 5px 5px 5px;
}

@mixin numbers {
	position: absolute;
    font-size: 0.7rem;
    left: -3%;
    text-align: center;
    width: 5px;
    height: 0.2rem;
    padding: 0.6rem;
    color: $white;
    background-color: $color-primary;
    border-radius: 999px;
}

@mixin img {
	position: absolute;
    left: 8%;
    text-align: center;
    width: 2rem;
}

@mixin info {
	position: absolute;
    left: 24%;
    font-size: 0.8rem;
    font-weight: bold;
}

@mixin restaurant-card {
    height: 8.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}
